@font-face {
	font-family: 'GveretLevin';
	src: url('../fonts/GveretLevin/GveretLevinAlefAlefAlef-Regular.eot'); /* IE9 Compat Modes */
	src: url('../fonts/GveretLevin/GveretLevinAlefAlefAlef-Regular.woff') format('woff'),
         url('../fonts/GveretLevin/GveretLevinAlefAlefAlef-Regular.ttf')  format('truetype');
}
html.inner-page {
	min-height: 100vh;
	position: relative;
}
body {
	direction: rtl;
	color: #122d28;
	font-size: 14px;
	font-family: 'Heebo', sans-serif;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1 {
	color: white;
	font-size: 6rem;
	margin-top: 2rem;
	text-align: center;
	font-family: 'GveretLevin';
	text-shadow: 2px 2px rgba(0,0,0,.25);
}
b {
	font-weight: 700;
}
.nav-wrapper {
	background-color: #e6f4f4;
}
.nav-wrapper nav {
	padding: 24px 0 8px;
}
.nav-wrapper nav > ul > li:first-child {
	text-align: left;
}
.nav-wrapper nav > ul > li {
	position: relative;
}
.nav-wrapper ul.level-1 {
	width: 100%;
	z-index: 999;
	text-align: right;
	position: absolute;
	background-color: white;
	box-shadow: 0 0 4px 1px rgba(0,0,0,.3);

	display: none;	
}
.nav-wrapper li.level-0:hover > ul.level-1 {
	display: block;
}
.nav-wrapper li.level-1 {
	height: 42px;
	line-height: 42px;
	padding-right: 20px;
}
.nav-wrapper li.level-1:hover {
	background-color: #f4b9b2;
}
.nav-wrapper li.level-1 a {
	color: #122d28; 
	font-weight: 300;
	font-size: 1.8rem;
}
.nav-wrapper li.level-1:hover a {
	color: #337ab7;
}
.site-logo a {
	display: block;
}
.site-logo a img {
	width: 70%;
    display: block;
    margin: 0 auto;
}
.top-menu-link {
	color: #122d28;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 300;
	line-height: 42px;
}
.nav-line {
	padding: 0;
	margin-bottom: 16px;
}
.nav-line hr {
	margin: 0;
	padding: 0;
    top: 12px;
    z-index: 0;
	position: relative;
	border: #202020 solid 1px;
}
.nav-line p {
    width: 45%;
	z-index: 100;
    margin: 0 auto;
    font-size: 1.6rem;
	position: relative;
	text-align: center;
	background-color: #e6f4f4;
}
.breadcrumbs {
	margin-top: 24px;
}
.breadcrumbs li {
	float: right;
	font-weight: 300;
	font-size: 1.8rem;
}
.breadcrumbs li a {
	color: #122d28;
}
.breadcrumbs .current {
	font-weight: 400;
}
.crumb-separator {
	margin: 0 6px;
}

/* slider */
.slider-wrapper {
	height: 600px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url('../images/blue-texture.jpg');
}
.home-slider {
	height: 474px;
	margin-top: 40px;
	position: relative;
}
.slide {
    left: 50%;
    width: 70%;
    height: 100%;
    margin: 0 auto;
	position: absolute;
    transform: translateX(-50%);

	transition: all .3s;
    opacity: 0;
    visibility: hidden;
}
.slide.active {
	opacity: 1;
	visibility: visible;
}
.slide img {
	top: 0;
	left: 0;
	height: 100%;
	position: absolute;
}
#slide-1 img {
	height: 97%;
}
.arrows {
	left: 0;
	top: 35%;
	width: 100%;
	height: 42px;
	z-index: 999;
	position: absolute;
}
.arrows img {
	height: 42px;
}
.arrow-r,
.arrow-l {
	cursor: pointer;
}
.arrow-r {
	float: right;
	transform: rotate(180deg);
}
.arrow-l {
	float: left;
}
.caption {
    top: 20%;
    right: 0;
    color: white;
    padding: 2rem;
    position: absolute;
    background-color: rgba(0,0,0,.5);
}
.caption h3, .caption p {
	margin: 0;
}
.caption a {
	color: white;
	display: block;
	font-size: 1.5rem;
	margin-top: .75rem;
	text-decoration: underline;
}
.caption h3 {
	font-weight: 700;
	margin-bottom: .75rem;
}
.caption p {
	font-size: 1.75rem;
}
.caption p b {
	font-size: 2rem;	
}

.secondary-navigation {
	padding-bottom: 7%;
	position: relative;
	background-color: white;
}
.secondary-navigation.carousel {
	margin-bottom: 10%;
}
.secondary-navigation.carousel .container {
	padding: 0;
	overflow: hidden;
	position: relative;
}
.secondary-navigation.carousel ul {
	margin: 0;
	width: 2160px;
	display: block;
	transition: all .3s;
	transform: translateX(0);
}
.secondary-navigation.carousel ul li {
	float: right;
	width: 240px;
	height: 240px;
}
.holiday-page .holiday-row {
	margin-bottom: 5rem;
}
.holiday-page .carousel {
	padding: 0;
	margin-top: 1%;
	margin-bottom: 2%;
}
.holiday-page .carousel li {
	opacity: .7;
	position: relative;
}
.holiday-page .carousel li:after {
	top: 0;
	left: 0;
	width: 100%;
	content: '';
	height: 100%;
	position: absolute;
	background-color: rgba(75,75,75,.4);
}
.not-allowed:hover * {
	cursor: not-allowed !important;
}
.holiday-page .carousel li.active,
.holiday-page .carousel li:hover {
	opacity: 1;
}
.holiday-page .carousel li.active:after,
.holiday-page .carousel li:hover:after {
	display: none;
}
.carousel-arrow-right,
.carousel-arrow-left {
	top: 100px;
	width: 36px;
	height: 48px;
	z-index: 999;
	cursor: pointer;
	position: absolute;
	text-align: center;
	display: inline-block;
	background-color: white;
}
.carousel-arrow-right {
	right: 0;
}
.carousel-arrow-left {
	left: 0;
}
.carousel-arrow-right img,
.carousel-arrow-left img {
	margin-top: 6px;
	max-height: 80%;
	display: inline-block;
}
.carousel-arrow-right img {
	transform: rotate(180deg);
}
.secondary-navigation-title {
    left: 50%;
    font-size: 2rem;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 2px;
	position: absolute;
    background-color: white;
    box-shadow: 0 0 4px 1px rgba(0,0,0,.3);
    transform: translate(-50%, -50%);
}
.secondary-navigation ul {
	-webkit-display: flex;
	display: flex;
}
.secondary-navigation ul li {
	flex: 1;
	height: 232px;
	background-color: blue;
}
.secondary-navigation ul li a {
	height: 100%;
	display: block;
	text-align: center;

}
.secondary-navigation ul li a img {
	margin-top: 24px;
	transition: all .3s;
	display: inline-block;
}
.secondary-navigation ul li a p {
    color: white;
    font-size: 3rem;
	margin: 12px 0 0 0;
}
.secondary-navigation ul li a:hover {
	text-decoration: none;
}
.secondary-navigation ul li a:hover img {
	transform: scale(1.15);
}
.secondary-navigation .red {
	background-color: #f96c62;
}
.secondary-navigation .orange {
	background-color: #e5a570;
}
.secondary-navigation .pink {
	background-color: #f4b9b2;
}
.secondary-navigation .green {
	background-color: #94aa6d;
}
.secondary-navigation .blue {
	background-color: #7dbbc3;
}
.secondary-navigation .lightgray {
	background-color: #e6f4f4;
	flex: 3;
}
.secondary-navigation .lightgray img {
    margin: 24px 0 0 0;
	float: right;
    height: 90%;
}
.secondary-navigation .lightgray p {
	float: right;
    color: #202020;
    margin: 90px 32px 0 0;
}
.secondary-navigation ul li.lightgray {
	overflow: hidden;
}

.text-content {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-right: 4rem;
}
p.content-text, .text-content p {
	font-size: 1.75rem;
}
.section-heading {
	margin: 2rem 0;
	font-size: 4rem;
	text-align: center;
}

.accordion {
	margin-bottom: 12px;
}
.accordion-row {
	margin-bottom: 2rem;
}
.accordion-title {
	color: white;
	height: 42px;
	cursor: pointer;
	line-height: 42px;
	background-color: #f96c62;
}
.accordion.closed .accordion-title img {
	transform: rotate(180deg);
}
.accordion-title img {
	margin: 0 8px;
	display: inline-block;
}
.accordion-content {
	margin: 0;
	padding: 4rem;
	background-color: #f4f3f2;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.3);

	display: none;
}
.accordion:first-child .accordion-content {
	display: block;
}
.accordion-image, .content-image {
	text-align: center;
}
.accordion-image img, .content-image img {
	max-width: 100%;
	display: inline-block;
}

html.inner-page footer {
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
}
footer {
	text-align: center;
	background-color: #7dbbc3;
}
footer a {
	color: #202020;
	padding: 36px 0;
	font-size: 1.75rem;
	margin-left: 48px;
	display: inline-block;
}
footer a:last-child {
	margin-left: 0;
}